<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="es">

<head>
<meta charset="utf-8" />
<title>Main</title>
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/3.4/assets/css/ie10-viewport-bug-workaround.css" />
</head>

<body>
	<header th:replace="fragments/frag_comunes::header(meteogalicia)"></header>
	<div class="container theme-showcase" role="main">

		<th:block
			th:if="${#httpServletRequest.requestURI == '/meteogalicia/listaestacions'}">
			<div th:replace="fragments/frag_meteogalicia::lista_estacions"></div>
		</th:block>

		<th:block
			th:if="${#httpServletRequest.requestURI == '/meteogalicia/predicionhoxe'}">
			<div th:replace="fragments/frag_meteogalicia::predicion_hoxe"></div>
		</th:block>

		<th:block
			th:if="${#httpServletRequest.requestURI == '/meteogalicia/predicionmana'}">
			<div th:replace="fragments/frag_meteogalicia::predicion_mana"></div>
		</th:block>

		<th:block
			th:if="${#httpServletRequest.requestURI == '/meteogalicia/camaras'}">
			<div th:replace="fragments/frag_meteogalicia::camaras"></div>
		</th:block>		
	</div>

	<!-- Dependencias jQuery -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>