<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="header(seccion)">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Pruebas ACB</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a href="#" th:href="@{/}">Home</a></li>
						<li class="dropdown" th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(),'/meteogalicia') ? 'active':''}"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Meteo Galicia <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" th:href="@{/meteogalicia/listaestacions}">Estacions meteoroloxicas</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Predición Galicia</li>
								<li><a href="#" th:href="@{/meteogalicia/predicionhoxe}">Hoxe</a></li>
								<li><a href="#" th:href="@{/meteogalicia/predicionmana}">Maña</a></li>
								<li><a href="#">Por concellos</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#" th:href="@{/meteogalicia/camaras}">Camaras Web</a></li>								
							</ul></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</header>


</body>
</html>