<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="es">

<head>
<meta charset="utf-8" />
</head>

<body>

	<div th:fragment="ipinfo">
		<div class="page-header">
			<h1>Información cliente</h1>
		</div>

		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>IP</th>
							<th>City</th>
							<th>Country</th>
							<th>Proveedor</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${ipinfo.getIp()}"></td>
							<td th:text="${ipinfo.getCity()}"></td>
							<td th:text="${ipinfo.getCountry()}"></td>
							<td th:text="${ipinfo.getOrganization()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>