<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="es">

<head>
<meta charset="utf-8" />
</head>

<body>

	<div th:fragment="lista_estacions">
		<!--  Cabecera -->
		<div class="jumbotron">
			<h1>Estacions de todo Galicia</h1>
			<p>Estado actual de todas as estacións meteoroloxicas de galicia</p>
		</div>

		<!-- Listado -->

		<div class="panel panel-default">
			<div class="panel-heading">Estaciones MeteoGalicia</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Estacion</th>
									<th>Concello</th>
									<th>Provincia</th>
									<th>Altitude</th>
									<th>Temp</th>
									<th>Evo</th>
									<th>Ceo</th>
									<th>Vento</th>
									<th>Ult. Actualización</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="estacion : ${listadoEstacions}">
									<td th:text="${estacion.getIdEstacion()}"></td>
									<td th:text="${estacion.getEstacion()}"></td>
									<td th:text="${estacion.getConcello()}"></td>
									<td th:text="${estacion.getProvincia()}"></td>
									<td th:text="${estacion.getAltitude()}"></td>
									<td th:text="${estacion.getValorTemperatura()}"></td>
									<td><img alt="" src=""
										th:src="${ (estacion.getLnIconoTemperatura() != -9999 ) ? uriIconoTemp + estacion.getLnIconoTemperatura() + '.png' : ''}" />
									</td>
									<td><img alt="" src=""
										th:src="${ (estacion.getLnIconoCeo() != -9999 ) ? uriIconoCeo + estacion.getLnIconoCeo() + '.png' : ''}" />
									</td>
									<td><img alt="" src=""
										th:src="${ (estacion.getLnIconoVento() != -9999 ) ? uriIconoVento + estacion.getLnIconoVento() + '.png' : ''}" />
									</td>
									<td th:text="${estacion.getDataLocal()}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:fragment="predicion_hoxe">
		<div class="jumbotron">
			<h1>Predición Xeral Hoxe</h1>
		</div>

		<!-- Fotos predición -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Maña / Tarde / Noite</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-3 col-xs-6">
					<img src="" alt="..." class="img-responsive"
						th:src="${ static.URI_PREDICION_MAPA_MANANA + 0 }" />
				</div>
				<div class="col-md-3 col-xs-6">
					<img src="" alt="..." class="img-responsive"
						th:src="${ static.URI_PREDICION_MAPA_TARDE + 0 }" />
				</div>
				<div class="col-xs-6 col-md-3">
					<img src="" alt="..." class="img-responsive"
						th:src="${ static.URI_PREDICION_MAPA_NOITE + 0 }" />
				</div>
			</div>
		</div>

		<!-- Data e comentario predición -->
		<div class="panel panel-default">
			<div class="panel-heading" th:text="${model.getTitle()}">Titulo</div>
			<div class="panel-body" th:text="${model.getComentarioXeral()}">Comentario
				Xeral</div>
		</div>

		<!-- Temperaturas -->
		<div class="panel panel-default">
			<div class="panel-heading" th:text="${model.getTitle()}">Temperaturas</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Máximas</th>
							<th>Mínimas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="" alt="..." class="img-responsive"
								th:src="${ static.URI_ICONOS_TENDENCIA + model.getTendenciaTMax() +'.png' }" />
							</td>
							<td><img src="" alt="..." class="img-responsive"
								th:src="${ static.URI_ICONOS_TENDENCIA + model.getTendenciaTMin() +'.png' }" /></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th>Cidade</th>
							<th>TMax</th>
							<th>TMin</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cidade : ${model.getTemperaturasCidades()}">
							<td th:text="${cidade.key}">Error</td>
							<td th:text="${cidade.value.get('tmax') + ' ºC'}">-- º</td>
							<td th:text="${cidade.value.get('tmin') + ' ºC'}">-- º</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<!-- Cortes de Voz -->
		<div class="panel panel-default">
			<div class="panel-heading">Corte de Voz</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="corte : ${model.getUrlsCortesVoz()}">
							<td th:text="${corte.key}">Error</td>
							<td><audio controls>
									<source src="" type="audio/mpeg" th:src="${corte.value}">
									Your browser does not support the audio element.
								</audio></td>

						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>

	<div th:fragment="predicion_mana">
		<div class="jumbotron">
			<h1>Predición Xeral Maña</h1>
		</div>

		<!-- Fotos predición -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Maña / Tarde / Noite</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-3 col-xs-6">
					<img src="" alt="..." class="img-responsive"
						th:src="${ static.URI_PREDICION_MAPA_MANANA + 1 }" />
				</div>
				<div class="col-md-3 col-xs-6">
					<img src="" alt="..." class="img-responsive"
						th:src="${ static.URI_PREDICION_MAPA_TARDE + 1 }" />
				</div>
				<div class="col-xs-6 col-md-3">
					<img src="" alt="..." class="img-responsive"
						th:src="${ static.URI_PREDICION_MAPA_NOITE + 1 }" />
				</div>
			</div>
		</div>

		<!-- Data e comentario predición -->
		<div class="panel panel-default">
			<div class="panel-heading" th:text="${model.getTitle()}">Titulo</div>
			<div class="panel-body" th:text="${model.getComentarioXeral()}">Comentario
				Xeral</div>
		</div>

		<!-- Temperaturas -->
		<div class="panel panel-default">
			<div class="panel-heading" th:text="${model.getTitle()}">Temperaturas</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Máximas</th>
							<th>Mínimas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="" alt="..." class="img-responsive"
								th:src="${ static.URI_ICONOS_TENDENCIA + model.getTendenciaTMax() +'.png' }" />
							</td>
							<td><img src="" alt="..." class="img-responsive"
								th:src="${ static.URI_ICONOS_TENDENCIA + model.getTendenciaTMin() +'.png' }" /></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th>Provincia</th>
							<th>TMax</th>
							<th>TMin</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cidade : ${model.getTemperaturasCidades()}">
							<td th:text="${cidade.key}">Error</td>
							<td th:text="${cidade.value.get('tmax') + ' ºC'}">-- º</td>
							<td th:text="${cidade.value.get('tmin') + ' ºC'}">-- º</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div th:fragment="camaras">
		<!--  Cabecera -->
		<div class="jumbotron">
			<h1>Camaras Web</h1>
		</div>

		<!-- Listado -->

		<div class="panel panel-default">
			<div class="panel-heading">Todo Galicia</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome</th>
									<th>Concello</th>
									<th>Provincia</th>
									<th>Imaxe</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="camara : ${listadoCamaras}">
									<td th:text="${camara.getIdentificador()}"></td>
									<td th:text="${camara.getNomeCamara()}"></td>
									<td th:text="${camara.getConcello()}"></td>
									<td th:text="${camara.getProvincia()}"></td>
									<td style="width:100%;" class="text-center">
											<img src="" alt="..." class="img-responsive" 
												th:src="${ static.URI_SERVIZOS + camara.getImaxeCamara()}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>