<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="es">

<head>
<meta charset="utf-8" />
<title>Main</title>
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/3.4/assets/css/ie10-viewport-bug-workaround.css" />
</head>

<body>
	<header th:replace="fragments/frag_comunes::header(main)">></header>

	<div class="container theme-showcase" role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>Panel del Control</h1>
			<p>Pruebas de concepto de Spring Boot + Thymeleaf + BootStrap</p>
		</div>
		
		<div th:replace="fragments/frag_main::ipinfo"></div>

	</div>


	<!-- Dependencias jQuery -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>